* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
 
img{
    width: 100%;
}
.flex {
    display: flex;
}

.debug {
    
    border: 2px dashed yellow;
}

ul {
    list-style: none;
}



/* HOVER EFFECT  */


.hover_scale:hover{
    scale: 1.2;
}

.hover_


/* POP UP HEADER  */

.popup_plans{
    justify-content: end;
    align-items: center;
    color: white;
    width: 100%;

   
}
.logo-big svg{
    padding-bottom: 20ppx;
    padding-right: 20px;
    padding-left: 20px;
    
    width: 190px;
}
    .logo-big{
        padding-bottom: 40px;
        
    }
    


.plan-link a{
    white-space: nowrap;
    font-size:12px;
    border-radius: 9999px;
    border: 2px solid #d2d2d2ed;
    color: currentColor;
    text-decoration: none;
   padding:10px 30px 10px 30px;
      margin-right: 20px;
      margin-left: 20px;
}
/* MAIN CONTAINER */

.main_container {
    flex-direction: row;
    height: calc(100vh - 90px);
        

}
.popup_plans{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    height: 100px;
    width: 100vw;
}
.aside {
    flex-direction: column;
    padding-top: 20px;
    
   flex-basis:  230px;
    flex-shrink: 0;
    background-color: #000000;
}




/* ASIDE  */

  .widget{
      white-space: nowrap;
    flex-direction: column;
    
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    
  }
  
  .menu-item{
    padding: 5px 10px;
    align-items: center;
    color: #717171;
  
  }
  
  
 
  
  .menu-item .icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }

  .menu-item p{
      margin-top:3px;
      
  }
  
  .icon i{
    display: block;
  }
  
  
  
  .fa-plus-square{
      font-size: 30px;
  }


  .menu-item .square-plus {
      background-color:#d2d2d2ed;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      font-size: 40px;
      align-items: center;
      justify-content: center;
      color: #000000;
  }

  .widget:last-child .widget__menu li:first-child{
      font-size: 14px;
      
  } 

  h2{
      padding-left:10px;
      font-size:15px;
      font-weight: 400;
      color: #d2d2d2ed;
  }

  .playlist__wrapper .nav_bar .widget__menu__sidebar li{
    white-space: nowrap;
   
    text-decoration: none;
}

.playlist__wrapper .nav_bar .widget__menu__sidebar li a{
    text-decoration: none;
    
 }
  
 .aside .widget .widget__menu__sidebar li:hover p{
    color: #d2d2d2ed;
  }

    /* ADD PLAYLIST  */


    .add-playlist{
        flex-grow: 1;
        overflow-y: scroll;
    }




  /* PROFILE SIDEBAR */

  .profile ul{
    background-color: black;
    

  }

  .profile .menu-item p {
    padding-left: 10px;
  }
.profile .menu-item h4{
    font-size: 16px;
    color: #ffffff;
    display:inline-block;
    padding-left: 10px;
    
}

.profile .menu-item:nth-child(2){
    border-top: 2px solid grey;
  
}
.profile .menu-item img{
    background-color: gray;
    border-radius:9999px;
    width:30px ;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.profile .widget__menu__sidebar{
   flex-direction: column;
}
.download{
    background-color: none
    ;
   
    
   
    
    
}

  /* PLAYLIST WRAPPER  */

  .playlist__wrapper .nav_bar .widget__menu{
      padding-top: 80px ;
      text-transform: uppercase;
      padding-bottom: 20px;
      margin-bottom: 2px;

  }
  



  .playlist__wrapper .nav_bar .widget__menu li a{
    white-space: nowrap;
    text-decoration: none;
    color: #d2d2d2ed ;
 }

 .playlist__wrapper .nav_bar .widget__menu li{
    border-bottom: 2px solid transparent;
    

 }

.playlist__wrapper .nav_bar .widget__menu li:hover a:after{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 50%; 
    
    border-bottom: 2px solid yellowgreen;

}

  .nav_bar {
      justify-content: center;
      height: 140px;
      padding-bottom: 150px;
  }


/*ROW */

.rounded {
    border-radius: 9999px;
}

.row {
    padding-bottom: 18px;
}


.playlist__wrapper{
    flex-grow: 1;
    padding: 20px 30px;
    background-color: #141922;
    flex-direction: column;
    width: 100%;
    padding-bottom: 150px;
    overflow: scroll;
    padding-top: 40px;
    
   
}

.play-list{
    padding-top:40px;
}
.play-list-item {
      padding-right: 15px;
      width:17%;
      text-align: center;
  }
  
 .play-list-item img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .play-list-item-description h4 ,.play-list-item-description p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  

  /* PLAY LIST DESCRIPTION  */



  .play-list-item-description h4 {
      padding-top: 18px;
  }
  .play-list-item-description p {
      padding-bottom: 18px;
  }
  .row p{
      padding-top: 5px;
      font-size:12px ;
      font-weight: 600;
      color:#7b7e82;
  }
  .play-list-item-description h4 {
    color:#ffffff ;
    font-weight: 600;
  }

    .row h3 {
        font-size: 25px;
        color: #ffffff;
    }
 
    


    /* INIZIO FOOTER MUSIC PLAYER  */

    .player__wrapper{
        flex-direction: row;
        width: 100%;
        height: 90px;
        background-color: #282828;
        justify-content: space-between;
        position: sticky;
        left:0;
        bottom:0;
        right: 0;
    }


    .player{
    flex-basis: 60%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    }


    .icon_player{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    }


    .player_range{
        flex-grow: 1;
        margin-top: 10px;
        flex-basis: 150px;
        background-color: yellowgreen;
        height: 4px;
        align-self: center;
        border-radius: 9999px;

    }


    /* ICON PLAYER  */

    .icon_player i {
        color: white;
        font-size: 18px;
        padding:0px 8px;
        

    }

    .icon_player li:nth-child(3) i{
        font-size: 30px;
    }




    .info_wrapper {
        display: flex;
        gap: 15px;
        align-items: center;
        flex-basis: 230px;
        flex-shrink: 0;
    }
    .album {
        display: flex;
        gap:15px;
        align-items: center;
        
    }
    .album_thumb {
       width: 42px;
       height: 42px;
       display: block;
    }

    .info_wrapper{

    }
    .album_info {
        font-size: 12px;

    }
    .album_title {
        font-size: 13px;
        font-weight: 700;
    }


    /* TOOLBAR TOOLS  */

    .tools{
        display: flex;
        flex-basis: 227px;
        list-style: none;
        gap: 10px;
        align-items: center;
    }


