*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.debug {
    
    border: 2px dashed yellow;
}

ul {
    list-style: none;
}

/* MAIN CONTAINER */

.main {
    flex-direction: column;
}
.popup_plans{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    height: 100px;
    width: 100vw;
}
.aside {
    padding-top: 100px;
    height: 100vh;
    flex-basis: 227px;
    
    background-color: #000000;
}

.playlist__wrapper{
    height: 100vh;
    flex-grow: 1;
    background-color: #141922;
}


/* ASIDE  */

  .widget{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
  }
  
  .menu-item{
    padding: 10px 10px;
    align-items: center;
    color: #717171;
    white-space: ;
  
  }
  
  
.menu-item:hover {
   color: #d2d2d2ed;
  }
  
  
  .menu-item .icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #717171;
  }

  .menu-item p{
      margin-top:3px;
      
  }
  
  .icon i{
    display: block;
  }
  
  .widget__title{
    padding-left: 13px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .fa-plus-square{
      font-size: 30px;
  }

  .menu-item .icon img{
    color: #717171;

  }

  .menu-item .square-plus {
      background-color:#ffffff ;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      font-size: 40px;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-weight: bold;
  }

