*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
 
img{
    width: 100%;
}
.flex {
    display: flex;
}

.debug {
    
    border: 2px dashed yellow;
}

ul {
    list-style: none;
}
/* POP UP HEADER  */

.popup_plans{
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;

   
}
.logo-big svg{
    padding-right: 20px;
    padding-left: 20px;
    fill:#ffffff!important;
    width: 190px;
}

.plan-link a{
    white-space: nowrap;
    font-size:12px;
    border-radius: 9999px;
    border: 2px solid #d2d2d2ed;
    color: currentColor;
    text-decoration: none;
   padding:10px 50px 10px 50px;
      margin-right: 10px;
      margin-left: 16px;
}
/* MAIN CONTAINER */

.main {
    flex-direction: column;
}
.popup_plans{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    height: 100px;
    width: 100vw;
}
.aside {
    padding-top: 100px;
    height: 100vh;
    /* flex-basis: 227px; */
    
    background-color: #000000;
}

.playlist__wrapper{
    height: 100vh;
    flex-grow: 1;
    background-color: #141922;
}


/* ASIDE  */

  .widget{
      white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
  }
  
  .menu-item{
    padding: 10px 10px;
    align-items: center;
    color: #717171;
  
  }
  
  
.menu-item:hover {
   color: #d2d2d2ed;
  }
  
  
  .menu-item .icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #717171;
  }

  .menu-item p{
      margin-top:3px;
      
  }
  
  .icon i{
    display: block;
  }
  
  
  
  .fa-plus-square{
      font-size: 30px;
  }

  .menu-item .icon img{
    color: #717171;

  }

  .menu-item .square-plus {
      background-color:#d2d2d2ed;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      font-size: 40px;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-weight: 600;
  }

  .widget:last-child .widget__menu li:first-child{
      font-size: 20px;
      
  } 

  h2{
      padding-left:10px;
      font-size:20px;
      font-weight: 400;
      color: #d2d2d2ed;
  }


  /* PLAYLIST WRAPPER  */

  .playlist__wrapper .nav_bar .widget__menu{
      padding-top: 120px ;
      text-transform: uppercase;

  }
  
  .playlist__wrapper .nav_bar .widget__menu li{
      white-space: nowrap;
      border-bottom:4px solid palegreen;
  }

  .playlist__wrapper .nav_bar .widget__menu li a{
      border-bottom:4px solid palegreen;
      width: 3px;
  }

  .nav_bar {
      justify-content: center;
      flex-grow: 1;
  }