* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
 
img{
    width: 100%;
}
.flex {
    display: flex;
}

.debug {
    
    /* border: 2px dashed yellow; */
}

ul {
    list-style: none;
}



/* HOVER and EFFECT  */


.hover_scale:hover{
    scale: 1.2;
}
.hover_opacity:hover{
    filter: contrast(120%);
    opacity: 60%;
  }

  .hover:hover {
    color: #d2d2d2ed;
  }
   
    
    
.img-wrapper{
    max-width: 100%;
    position: relative;
}
.img-wrapper:hover .hover_opacity{
    filter: contrast(120%);
    opacity: 60%;
}
.img-wrapper:hover .hover_play{
    visibility: visible;
}

.hover_play{
    position: absolute;
    color: white;
    font-size: 4vh !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}

.hover_play i, .hover:hover i{
    color: white;
}

.hover:hover a {
    color: white !important;
    cursor: pointer;
}
       /* HOVER SVG & DIV  */

       .hover:hover .square-plus {
        background-color: white;
        opacity:100;
        }

        .hover:hover img{
            color: white;
            opacity: 100;
        }
        .icon img
        {
            opacity:0.7 ;
        }

                  /* ACTIVE */

.active-sidebar:before{
    content: "";
display: block;
border: 3px solid yellowgreen;  /* SOLUZIONE PIU EASY POSIZIONARLO IN ABSOLUTE */
height: 38px;
margin-left: -20px;
padding-right: -4px;
margin-right: 16px;

}




/* POP UP HEADER  */

.popup_plans{
    justify-content: end;
    align-items: center;
    color: white;
    width: 100%;

   
}
.logo-big svg{
    position: relative;
    padding-bottom: 20ppx;
    padding-right: 20px;
    padding-left: 20px;
    
    width: 180px;
}
    .logo-big{
        padding-bottom: 40px;
        
    }
    


.plan-link a{
    white-space: nowrap;
    font-size:12px;
    border-radius: 9999px;
    border: 2px solid #d2d2d2ed;
    color: currentColor;
    text-decoration: none;
   padding:10px 30px 10px 30px;
      margin-right: 20px;
      margin-left: 20px;
}
/* MAIN CONTAINER */

.main_container {
    flex-direction: row;
    height: calc(100vh - 90px);
        

}
.popup_plans{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    height: 100px;
    width: 100vw;
}
.aside {
    flex-direction: column;
    padding-top: 20px;
    
   flex-basis:  230px;
    flex-shrink: 0;
    background-color: #000000;
}




/* ASIDE  */

  .widget{
      white-space: nowrap;
    flex-direction: column;
    
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    
  }
  
  .menu-item{
    padding: 5px 10px;
    align-items: center;
    color: #717171;
  
  }
  
  
 
  
  .menu-item .icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }

  .menu-item p{
      margin-top:3px;
      
  }
  
  .icon i{
    display: block;
  }
  
  
  
  .fa-plus-square{
      font-size: 30px;
  }


  .menu-item .square-plus {
      background-color:#d2d2d2ed;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      font-size: 40px;
      align-items: center;
      justify-content: center;
      color: #000000;
      opacity: 0.7;
  }

  .widget:last-child .widget__menu li:first-child{
      font-size: 14px;
      
  } 

  h2{
      padding-left:10px;
      font-size:15px;
      font-weight: 400;
      color: #d2d2d2ed;
  }

  .playlist__wrapper .nav_bar .widget__menu__sidebar li{
    white-space: nowrap;
   
    text-decoration: none;
}

.playlist__wrapper .nav_bar .widget__menu__sidebar li a{
    text-decoration: none;
    
 }
  


    /* ADD PLAYLIST  */


    .add-playlist{
        flex-grow: 1;
        overflow-y: scroll;
    }




  /* PROFILE SIDEBAR */

  .profile ul{
    background-color: black;
    

  }

  .profile .menu-item p {
    padding-left: 10px;
  }
.profile .menu-item h4{
    font-size: 16px;
    color: #ffffff;
    display:inline-block;
    padding-left: 10px;
    
}

.profile .menu-item:nth-child(2){
    border-top: 2px solid grey;
  
}
.profile .menu-item img{
    background-color: gray;
    border-radius:9999px;
    width:30px ;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.profile .widget__menu__sidebar{
   flex-direction: column;
}


  /* PLAYLIST WRAPPER  */

  .playlist__wrapper .nav_bar .widget__menu{
      padding-top: 80px ;
      text-transform: uppercase;
      padding-bottom: 20px;
      margin-bottom: 2px;

  }
  



  .playlist__wrapper .nav_bar .widget__menu li a{
    white-space: nowrap;
    text-decoration: none;
    color: #d2d2d2ed ;
 }

 .playlist__wrapper .nav_bar .widget__menu li{
    border-bottom: 2px solid transparent;
    

 }

.playlist__wrapper .nav_bar .widget__menu .active a:after
{
    content: ""; 
    display: block;
    width: 50%; 
    margin: 0 auto;
    border-bottom: 2px solid yellowgreen ;
    
}

  .nav_bar {
      justify-content: center;
      height: 140px;
      padding-bottom: 150px;
  }


/*ROW */

.rounded {
    border-radius: 9999px;
}

.row {
    padding-bottom: 18px;
}


.playlist__wrapper{
    flex-grow: 1;
    padding: 20px 30px;
    background-color: #141922;
    flex-direction: column;
    width: 100%;
    padding-bottom: 150px;
    overflow: scroll;
    padding-top: 40px;
    
   
}

.play-list{
    flex-wrap: wrap;
    gap: 1%;
    justify-content: flex-start;
    padding-top: 40px;
  }


.play-list-item {
    width: calc(95%/6);
    text-align: center;
  }
  
 .play-list-item img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .play-list-item-description h4 ,.play-list-item-description p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  

  /* PLAY LIST DESCRIPTION  */



  .play-list-item-description h4 {
      padding-top: 18px;
  }
  .play-list-item-description p {
      padding-bottom: 18px;
  }
  .row p{
      padding-top: 5px;
      font-size:12px ;
      font-weight: 600;
      color:#7b7e82;
  }
  .play-list-item-description h4 {
    color:#ffffff ;
    font-weight: 600;
  }

    .row h3 {
        font-size: 25px;
        color: #ffffff;
    }
 
    


    /* INIZIO FOOTER MUSIC PLAYER  */

    .toolbar{
        color: white;
        flex-direction: row;
        width: 100%;
        height: 90px;
       align-items: center;
        background-color: #282828;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        z-index: 9999;
        
    }


    .player{
    flex-basis: 60%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    }


   


                    /* INFO ALBUM  */
    .toolbar img{
        max-width: 100%;
    }

    .music-box {
        display: flex;
        gap: 15px;
        align-items: center;
        flex-basis: 230px;
        
        padding: 10px;
    }
    .album {
        display: flex;
        gap:15px;
        align-items: center;
        flex-grow: 1;
        
    }
    .album_thumb {
       width: 42px;
       height: 42px;
       display: block;
       flex-shrink: 0;
       
    }
    .album_info {
        font-size: 12px;

    }
    .album_title {
        color: white;
        font-size: 13px;
        font-weight: 700;
    }

    .song_title ,.album-controls{
        color: #808080;
    }


                        /* PLAYER */

    .player-wrapper{
        
        padding: 10px;
        flex-basis: 40%;
       
    }

    .player-controls{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        font-size: 20px;
        justify-content: center;
        
        }




    

    .player-controls .control_play{
        font-size: 34px;
    }



    .player_timeline{
        display: flex;
        align-items: center;
        gap:20px;
    }
    
    .timeline_slider{
        flex-basis: 150px;
        background-color: #00000033;
        flex-grow: 1;
        position: relative;
    }

    .timeline__current-time{
        width: 35%;
        background-color: white;
        height: 4px;
    }

    .timeline__control{
         width: 13px;
         height: 13px;
         border-radius: 9999px;
         background-color: #ddd;
         cursor: pointer;
         position: absolute;
         left: 35%;
         top: 50%;
        transform: translate(-50%,-50%); 
        display: none;
        }


        .timeline_slider:hover .timeline__control{
            display: block;
             
        }

        .timeline_slider:hover .timeline__current-time{
            background-color: lawngreen;
        }


        /* TOOLS */


        .tools{
            display: flex;
            flex-basis: 227px;
            list-style: none;
            gap: 10px;
            align-items: center;
            flex-basis: 230px;
            
        }

        .volume-control {
            display: flex;
            align-items: center;
            gap:20px;
            flex-grow: 1;
            padding: 10px;
        }